body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  height: 400px;
  margin: 5% 0;
}

header {
  background-color: #C5C5C5;
  height: 100px;
}

footer {
  margin-top: 3%;
  background-color: #C5C5C5;
  height: 100px;
}

.googleMap {
  height: 400px;
}

.ratingBox {
  height: 400px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
}

.hipsterImage {
  /*background-color: red;*/
  height: 100%;
  width: 75%;
}

.hipsterRating {
  display: flex;
  align-items: flex-end;
  background-color: #c5c5c5;
  height: 100%;
  width: 20%;
}

.rankingBar {
  width: 100%;
}

.overload {
  background-color: black;
}
